<!DOCTYPE html>
<html>
<head>
    <title>Register</title>

    <link rel="stylesheet" href="app/resources/static/css/login_register.css">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
<br>
<h3 align="center">Register</h3>
<br>
<div ng-app="login_register_app" ng-controller="login_register_controller" class="container form-style">

    <div class="alert {{alertClass}} alert-dismissible"
         ng-show="alertMsg" style="width: 600px;margin: auto">
        <a href="" class="close" ng-click="closeMsg()" aria-lable="close">&times;</a>
        {{alertMessage}}

    </div>
    <br>

    <div class="panel panel-default" style="width: 600px;margin: auto">

        <div class="panel panel-default" style="width: 600px;margin: auto">
            <div class="panel-heading">
                <h3 class="panel-title">Register</h3>
            </div>
            <div class="panel-body">
                <form ng-submit="submitRegister()"
                      method="post">

                    <label>Enter your name</label>

                    <div class="input-container">
                        <i class='fa fa-user icon'></i>
                        <input type="text" name="name"
                               ng-model="registerData.name" placeholder="John" class="input-field"/>
                    </div>

                    <label>Enter your username</label>

                    <div class="input-container">
                        <i class='fa fa-user icon'></i>
                        <input type="text" name="username"
                               ng-model="registerData.username" placeholder="Programmer" class="input-field"/>
                    </div>

                    <label>Enter your email</label>

                    <div class="input-container">
                        <i class='fa fa-envelope icon'></i>
                        <input type="text" name="email"
                               ng-model="registerData.email" placeholder="example@gmail.com" class="input-field"/>
                    </div>

                    <label>Enter your password</label>

                    <div class="input-container">
                        <i class='fa fa-key icon'></i>
                        <input type="text" name="password"
                               ng-model="registerData.password" placeholder="12345" class="input-field"/>
                    </div>

                    <div class="form-group" align="center">

                        <input type="submit" name="register" class="btn" value="Register"/>
                        <br>
                        <input type="button" name="login_link" class="btn btn-primary btn-link"
                               ng-click="showLogin()"
                               value="Login">

                    </div>

                </form>
            </div>
        </div>

    </div>
    <script src="app/resources/static/js/login_register.js"></script>
</div>
</body>
</html>
